<ion-header>
  <ion-toolbar class="ion-icon-toolbar" color="black">
    <ion-buttons slot="start">
      <ion-button routerLink="/../login">
          <ion-icon slot="icon-only" name="log-in"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Ballincollig RFC 
    </ion-title>
      <ion-buttons slot="end">
       <ion-button>
          <ion-icon slot="end" src="../../assets/icon/logo.svg" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  padding>

<ion-tabs>

  <ion-tab-bar slot="top" color="black">
   
    <ion-tab-button tab="match-details-info">
      <ion-label>Info</ion-label>
    </ion-tab-button>
      
    <!--ion-tab-button tab="players">
      <ion-label>Player Profiles</ion-label>
    </ion-tab-button-->
      
  </ion-tab-bar>

</ion-tabs>

</ion-content>